.jumbotron {
    text-align: center;
    background-color: rgba(228, 171, 0, 0.75);
    color: rgb(0, 0, 0);
}

body {
    background-image: url("images/golddata.jpg");
    background-size: cover;
    margin: 0;
    min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("images/golddata.jpg") center / cover no-repeat;
  z-index: -1;
}

.container-gifs {
    background-color: rgb(189, 178, 178, 0.75);
}

.container {
    margin: 30px auto;
    text-align: center;
}

.btn-group {
    margin: auto;
    text-align: center;
}

.btn-light {
    background-color: rgb(34,34,34);
    border-color: rgb(18,18,18);
    border-width: 2px;
    color: silver;
}

form {
    width: 200px;
    margin: auto;
    text-align: center;
}

.form-group {
    padding: 0px;
}

img {
    padding-top: 20px;
}

p {
    font-weight: bolder;
    padding: 0px;
    margin: 0px;
}

input {
    text-align: center;
}

#addTopic {
    margin-top: 5px;
}
